#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 50%;
}

#buttonBar {
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
}

#buttonBar > button {
    font-size: 15px;

    padding: 15px;
    margin: 15px;

    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: -1px 1px 5px black;
    background-color: var(--main-accent-color)
}

#buttonBar > button:hover {
    filter: brightness(95%);
}

#buttonBar > button:active {
    box-shadow: -1px 1px 2px black;
}

#schedule {
    border: 2px solid black;
    border-radius: 10px;
}
